@media screen and (max-width: 600px) {
  .carouselContainer {
    width: 360px !important;
    height: 300px !important;
    left: 0px !important;
    top: 0px !important;
    z-index: -1000 !important;
  }

  .carouselContainer img {
    width: 360px !important;
    height: 300px !important;
    border-radius: inherit !important;
  }

  .cardProduct {
    top: 265px !important;
    left: 16px !important;
    width: 328px !important;
    height: auto !important;
  }

  .cardPenjual {
    margin-top: 430px !important;
    margin-left: 16px !important;
    width: 328px !important;
  }

  .cardDesc {
    margin-top: 44px !important;
    top: 478px !important;
    left: 16px !important;
    width: 328px !important;
    height: auto !important;
    padding-bottom: 100px !important;
  }

  .btnProduct {
    bottom: 28px !important;
    position: fixed !important;
    z-index: 1 !important;
  }

  .overlay {
    z-index: -1;
  }

  .modalTawar {
    z-index: 2;
  }
}

.cardDesc {
  position: absolute;
  width: 600px;
  height: auto;
  top: 584px;
  left: 236px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.cardDesc .titleDesc {
  margin-top: 16px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cardDesc .textDesc {
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

.cardProduct {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 336px;
  height: auto;
  padding-bottom: 16px;
  top: 124px;
  left: 868px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.cardProduct h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cardProduct .titleProduct {
  margin-top: 16px;
  margin-left: 24px;
  font-weight: 500;
}

.cardProduct .categoryProduct {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

.cardProduct .priceProduct {
  margin-top: 8px;
  margin-left: 24px;
}

.btnProduct {
  width: 304px;
  height: 48px;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  background: #7126b5;
  border: 1px solid #7126b5;
  border-radius: 16px;
  color: #ffffff;
  margin-top: 8px;
  margin-left: 16px;
}

.cardPenjual {
  display: flex;
  flex-direction: row;
  width: 336px;
  height: 80px;
  margin-top: 264px;
  margin-left: 868px;
  padding: 16px 0px 16px 16px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.cardPenjual .penjualContent:first-child {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cardPenjual .penjualContent img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.cardPenjual .penjualContent:last-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardPenjual .namePenjual {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 0;
}

.cardPenjual .addressPenjual {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}

.carouselContainer {
  position: absolute;
  width: 600px;
  height: 436px;
  top: 124px;
  left: 236px;
}

.carouselContainer img {
  width: 600px;
  height: 436px;
  border-radius: 16px;
}

.modalTawar,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modalTawar {
  z-index: 2;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modalTawarContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #FFFFFF;
  padding: 56px 32px 24px 32px;
  border-radius: 16px;
  max-width: 360px;
  min-width: 360px;
}

.modalTawarContent .titleModalTawar {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.modalTawarContent .textModalTawar {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

.modalTawarContent .textModalTawar2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 4px;
}

.modalTawarContent .inputModalCard {
  width: 296px;
  height: 48px;
  padding: 12px 16px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

.modalTawarContent .btnModalCard {
  width: 296px;
  height: 48px;
  padding: 12px 24px;
  background: #7126b5;
  border: 1px solid #7126b5;
  border-radius: 16px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.modalTawarContent .modalCard {
  display: inline-flex;
  width: 296px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  background: #eeeeee;
}

.modalTawarContent .modalCard .modalCardContent:first-child {
  margin-right: 16px;
}

.modalTawarContent .modalCard .modalCardContent img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.modalTawarContent .modalCard .modalCardContent .titleModalCard {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.modalTawarContent .modalCard .modalCardContent .priceModalCard {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.closeModalTawar {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
