@media screen and (max-width: 600px) {
  nav {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 360px !important;
    height: 52px !important;
    padding: 14px 16px !important;
  }

  .navTitle {
    position: absolute !important;
    top: 16px !important;
    left: 56px !important;
    text-align: center !important;
    width: 248px !important;
    height: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 0px 136px;
}

nav .leftNavbar {
  display: flex;
  align-items: center;
}

nav .navTitle {
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
