nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 0px 136px;
}

nav .leftNavbar {
  display: flex;
  align-items: center;

  position: absolute;
}

nav .navTitle {
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
