@media screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 84px;

  background: #ffffff;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 0px 136px;
}

.leftNavbar {
  display: flex;
  align-items: center;
}

.inputContainer input {
  width: 444px;
  height: 48px;
  background: #eeeeee;
  border-radius: 16px;
  border: none;
  padding: 12px 24px;
  margin-left: 24px;
}

.inputContainer input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #8a8a8a;
}

.inputContainer input::-webkit-search-cancel-button {
  display: none;
}

.inputContainer {
  position: relative;
}

.inputContainer img {
  position: absolute;
  right: 24px;
  top: 12px;
  bottom: 12px;
}

.rightNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 24px;
}

.iconList,
.iconBell,
.iconUser,
.iconCart {
  stroke: #151515;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 24px;
  height: 24px;
  fill: none;
}

.iconList:hover,
.iconBell:hover,
.iconUser:hover,
.iconCart:hover {
  stroke: #7126B5;
}